
$FourC_Blue: #144683;
$Dashboard_Blue: #2198F3;
$Enquiry_Blue: #86C7F8;
$Video_Slideshow_Blend: #1B6FBB;

// Screen breakpoints
$small-Media-Width: 768px;
$medium-Media-Width: 993px;
$large-Media-Width: 1218px;
// ------------------

// Screen widths
$small-Width: 750px;
$medium-Width: 975px;
$large-Width: 1200px;
// ------------------